name: CI
on:
    push:
        branches:
          - main
        tags:
          - 'v*'
    pull_request:
        branches:
          - main
    release:
        types:
          - published
jobs:
    build-image:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
            packages: write
        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Set up QEMU
            uses: docker/setup-qemu-action@v3
        
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

          - name: Login to ghcr.io
            uses: docker/login-action@v3
            with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
        
          - name: Determine the image tag
            shell: bash
            run: |
                TAGS=()
                if [[ $GITHUB_REF == refs/tags/* ]]; then
                    TAGS+=("${GITHUB_REF#refs/tags/}", "latest")
                else
                    BRANCH_TAG=$(echo "${GITHUB_REF#refs/heads/}" | sed 's/[^a-zA-Z0-9._-]/-/g')
                    TAGS+=("${BRANCH_TAG}")
                fi
                TAG_LIST=$(IFS=, ; echo "${TAGS[*]}")
                echo "TAG_LIST=${TAG_LIST}" >> $GITHUB_ENV

          - name: Build and publish
            uses: docker/build-push-action@v5
            with:
                push: true
                tags: ghcr.io/wyvernzora/argocd-cdk8s-plugin:${{ env.TAG_LIST }}
                platforms: linux/amd64,linux/arm64

          - name: Clean up old versions
            uses: actions/delete-package-versions@v4
            with:
                package-name: argocd-cdk8s-plugin
                package-type: container
                min-versions-to-keep: 3
                delete-only-untagged-versions: 'true'
